# === Global Backend Selector ===
# Options: postgres, mongodb
DB_BACKEND          = postgres
CASE_ROOT_FILE      = case_paths.json

# === Backend: Postgres ===
DB_PSQL_HOST        = localhost
DB_PSQL_PORT        = 5432
DB_PSQL_NAME        = docdata
DB_PSQL_USER        = postgres
DB_PSQL_PASSWORD    = password

# === Backend: Mongo ===
DB_MDB_HOST         = mongodb://127.0.0.1
DB_MDB_PORT         = 27017
DB_MDB_NAME         = docdata
DB_MDB_USER         =
DB_MDB_PASSWORD     =

# === Test Settings ===
TEST_POSTGRES       = 1
TEST_MONGODB        = 1
TEST_DB_PREFIX      = test_